useDynLib(eha)
import(survival)
import(graphics,stats)
export(ghq, glmmboot, glmmbootFit, glmmML, glmmML.fit, print.glmmML,
       summary.glmmML, print.glmmboot, summary.glmmboot,
       aftreg, aftreg.fit,
       age.window, cal.window, check.dist, check.surv, coxreg,
       coxreg.fit, cro,
       dEV, dllogis, dgompertz, dmakeham, dpch,
       geome.fit,
       hEV, hllogis, hlnorm, hgompertz, hmakeham, hpch, hweibull,
       HEV, Hllogis, Hlnorm, Hgompertz, Hmakeham, Hpch, Hweibull,
       join.spells, ltx, make.communal, mlreg, perstat, piecewise,
       phfunc, phreg, phreg.fit,
       pEV, pllogis, pgompertz, pmakeham, ppch,
       plot.aftreg, plot.coxreg, plot.hazdata, plot.phreg,
       plot.Surv, plot.weibreg,
       print.aftreg, print.coxreg, print.phreg, print.weibreg,
       qEV, qllogis, qgompertz, qmakeham, qpch, risksets,
       rEV, rllogis, rgompertz, rmakeham, rpch,
       summary.aftreg, summary.coxreg,
       summary.phreg, summary.weibreg,
       SurvSplit, table.events, toBinary, toDate, toTime,
       weibreg, weibreg.fit, wfunk)
S3method(ltx, coxreg)
S3method(ltx, aftreg)
S3method(ltx, phreg)
S3method(plot, Surv)
S3method(plot, coxreg)
S3method(plot, weibreg)
S3method(plot, phreg)
S3method(plot, pchreg)
S3method(plot, hazdata)
S3method(print, aftreg)
S3method(print, coxreg)
S3method(print, phreg)
S3method(print, pchreg)
S3method(print, weibreg)
S3method(summary, coxreg)
S3method(summary, weibreg)
S3method(summary, aftreg)
S3method(summary, phreg)
S3method(extractAIC, coxreg)
S3method(extractAIC, phreg)
S3method(extractAIC, aftreg)
S3method(nobs, coxreg)
S3method(nobs, phreg)
S3method(nobs, aftreg)
S3method(print, glmmML)
S3method(summary, glmmML)
S3method(print, glmmboot)
S3method(summary, glmmboot)
S3method(extractAIC, glmmML)
S3method(nobs, glmmML)
S3method(extractAIC, glmmboot)
S3method(nobs, glmmboot)
