useDynLib(eha)
import(survival)
import(graphics)
export(age.window, cal.window, check.surv, coxreg,
       coxreg.fit, cro, frail.fit, geome.fit, join.spells,
       make.communal, mlreg, mlreg.fit, perstat, piecewise,
       plot.cum, plot.Surv, plot.weibreg, print.coxreg, print.weibreg,
       risksets, summary.coxreg, summary.weibreg, table.events,
       weibreg, weibreg.fit, wfunk)
S3method(plot, Surv)
S3method(plot, cum)
S3method(plot, weibreg)
S3method(print, coxreg)
S3method(print, weibreg)
S3method(summary, coxreg)
S3method(summary, weibreg)
